body {
    margin: 0;
    padding: 0;
    background: #5ea9c4;
}

* {
    box-sizing: border-box;
}

/*
===========================================================
Full page image gallery
===========================================================
*/

#photos {
    display: table;
    position: relative;
    width: 100%;
    table-layout: fixed;
}

#photos .column {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

#photos .column .block {
    padding: 10px;
    width: 100%;
    font-size: 0px;
}

#photos .column .block .imgWrapper {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#photos .column .block .imgWrapper img {
    width: 100%;
    height: auto !important;
}

