body {
    margin: 0;
    padding: 0;
    background: #e5e5dc;
}

* {
    box-sizing: border-box;
}

/*
===========================================================
Fixed header menu
===========================================================
*/

header {
    position: fixed;
    display: block;
    top: 0px;
    left: 30px; /* padding around each box */
    right: 30px; /* padding around each box */
    height: 70px;
    background: #363636;
    z-index: 1000;
    color: #ffffff;
}

header h1 {
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 650px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    left: 0px;
    right: 0px;
    margin: auto; 
    position: absolute;
}

header h1:before {
    content: "Comp Sci Memes for Socially Inept Teens";
}

/*
===========================================================
Full page image gallery
===========================================================
*/

#photos {
    display: table;
    position: relative;
    width: 100%;
    table-layout: fixed;
    margin-top: 70px; /* height of header + margin */
}

#photos, #photos .column .block {
    padding: 15px;
}

#photos .column {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

#photos .column .block {
    width: 100%;
    font-size: 0px;
}

#photos .column .block .imgWrapper {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
            0 3px 6px rgba(0,0,0,0.23);
}

#photos .column .block .imgWrapper img {
    width: 100%;
    height: auto !important;
}

/*
 * Loading message at bottom of page
 */

#loadingMessage {
    height: 50px;
    line-height: 50px;
    margin: 0px 30px;
    width: auto;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
            0 3px 6px rgba(0,0,0,0.23);
    background: #ffffff;
    margin-bottom: 30px;
}

/*
===========================================================
Mobile design
===========================================================
*/

@media (max-width: 900px) {

    header h1 {
        width: 0px;
    }

    header h1:before {
        content: "Memes";
    }

}

@media (max-width: 700px) {

    header {
        left: 10px;
        right: 10px;
    }

    #photos, #photos .column .block {
        padding: 5px  
    }

    #loadingMessage {
        margin: 10px 0px;
    }

}